html, body {
  font-family: "Avenir", "Helvetica Neue", helvetica, sans-serif;
  color: #535353;
}

.intro {
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
}

/* 3D Scene */
#renderPort {
  width: 100%;
  height: 600px;
  padding: 0px;
}